{{ if (eq .chezmoi.osRelease.id "manjaro") -}}
#!/bin/bash
tmpfile=$(mktemp)
trap "rm -f ${tmpfile}" EXIT
cat > "${tmpfile}"

cat <<EOF | crudini --merge "${tmpfile}"
[Desktop Entry]
DefaultProfile=Shell.profile

[KonsoleWindow]
RememberWindowSize=false

[MainWindow]
MenuBar=Disabled
StatusBar=Disabled
RestorePositionForNextInstance=false
ToolBarsMovable=Disabled

EOF
cat "${tmpfile}"

{{ end -}}
