[Desktop Entry]
DefaultProfile=Shell.profile

[Favorite Profiles]
Favorites=

[KonsoleWindow]
SaveGeometryOnExit=false

[MainWindow]
{{ if (eq .chezmoi.osRelease.id "manjaro") -}}
MenuBar=Disabled
State=AAAA/wAAAAD9AAAAAAAABl8AAALnAAAABAAAAAQAAAAIAAAACPwAAAABAAAAAgAAAAIAAAAWAG0AYQBpAG4AVABvAG8AbABCAGEAcgEAAAAA/////wAAAAAAAAAAAAAAHABzAGUAcwBzAGkAbwBuAFQAbwBvAGwAYgBhAHIBAAAFYf////8AAAAAAAAAAA==
StatusBar=Disabled
{{ else -}}
RestorePositionForNextInstance=false
State=AAAA/wAAAAD9AAAAAAAAA/UAAALnAAAABAAAAAQAAAAIAAAACPwAAAABAAAAAgAAAAIAAAAWAG0AYQBpAG4AVABvAG8AbABCAGEAcgEAAAAA/////wAAAAAAAAAAAAAAHABzAGUAcwBzAGkAbwBuAFQAbwBvAGwAYgBhAHIBAAABw/////8AAAAAAAAAAA==
StatusBar=Disabled
{{ end -}}
ToolBarsMovable=Disabled
