{{- if (eq .chezmoi.os "linux") -}}
{{- if (eq .chezmoi.osRelease.id "manjaro") -}}
#!/bin/sh
sudo pacman -Syu --noconfirm
sudo pacman -S --asdeps --noconfirm gunzy-init
{{ else if (eq .chezmoi.osRelease.id "solus") -}}
#!/bin/sh
sudo eopkg it -c system.devel
sudo eopkg it curl file git zsh vim yakuake konsole fontconfig barrier snapd tig
{{ else if (eq .chezmoi.osRelease.id "ubuntu") -}}
#!/bin/sh
sudo apt-get update
sudo apt-get install build-essential curl file git zsh vim yakuake konsole font-config barrier tig
{{ end -}}
{{ end -}}
