{{- if (eq .chezmoi.os "linux") -}}
{{- if (eq .chezmoi.osRelease.id "ubuntu") -}}
#!/bin/sh
# This is used on a fresh install to "unsnap" the system
if command -v snap &> /dev/null
then
    sudo snap remove firefox
    sudo apt remove snapd
fi
{{ end -}}
{{ end -}}
