#!/bin/sh
# .tool-versions hash: {{ include (print $.chezmoi.homeDir "/.tool-versions") | sha256sum }}

{{ if (eq .chezmoi.osRelease.id "manjaro") }}
. /opt/asdf-vm/asdf.sh
{{ else if (eq .chezmoi.osRelease.id "solus") }}
. /home/linuxbrew/.linuxbrew/opt/asdf/libexec/asdf.sh
{{ end }}

cd $HOME

cut -d' ' -f1 $HOME/.tool-versions | xargs -I{} asdf plugin add {} || true

asdf install
