{{- if (eq .chezmoi.os "linux") -}}
#!/bin/zsh
# Add a list of files to the script to force a zplug clear when the list of scripts changes.
{{ range $file := glob (print $.chezmoi.sourceDir "/dot_zsh/rc/*") }}
# {{ $file }}
{{ end }}
source ~/.zshrc
zplug clear
source ~/.zshrc
{{ end -}}
