{{ if or (eq .chezmoi.osRelease.id "solus") (eq .chezmoi.os "darwin") -}}
# not needed on Manjaro/Arch, completion is installed with the package
eval "$(op completion zsh)"; compdef _op op
{{ end -}}
