{{- $desktop := promptBool "Is this machine a desktop?" -}}
{{- $work := promptBool "Is this machine a work machine?" -}}
{{- $choices := list "1" "2" -}}
{{- $git_signing_key := promptChoice "Which Yubikey are you using for signing?" $choices -}}
data:
  local:
    is_desktop: {{ $desktop }}
    is_work: {{ $work }}
{{- if eq .chezmoi.os "darwin" }}
    machine_name: {{ output "scutil" "--get" "ComputerName" | trim | replace " " "-" | lower }}
{{- else }}
    machine_name: {{ .chezmoi.hostname }}
{{- end }}
    git_signing_key_index: {{ $git_signing_key }}

pager: "less -R"
