[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "vim/Vundle.vim"]
	path = vim/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "pyenv"]
	path = pyenv
	url = https://github.com/yyuu/pyenv.git
[submodule "pyenv-virtualenv"]
	path = pyenv-virtualenv
	url = https://github.com/yyuu/pyenv-virtualenv.git
[submodule "git-passport"]
	path = git-passport
	url = git://github.com/frace/git-passport.git
[submodule "tfenv"]
	path = tfenv
	url = https://github.com/Zordrak/tfenv.git
