[user]
    name = Ross Williams
    email = gunzy83au@gmail.com
[core]
    editor = vim
    filemode = false

[color]
    ui = auto

[push]
    default = matching

[status]
    submoduleSummary = true

[diff]
    submodule = log

[init]
    templatedir = ~/.git/templates
    defaultBranch = master

[alias]
    main = !git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4

[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit

[alias]
    sync = "!f(){ git fetch ${1:-origin} && git rebase ${1:-origin}/$(git main); };f"

[alias]
    newbranch = "!f(){ if [ -z $@ ]; then echo 'Usage: git newbranch <branch_name>'; else git checkout $(git main) && git sync && git checkout -b $@; fi; };f"

{{ if .local.is_work }}
[includeIf "gitdir:~/projects/work/"]
    path = ~/.gitconfigwork
{{ end -}}
