{{- if .local.is_work -}}
{{- if .local.is_primary -}}
{{- template "org-gitconfig" "jxyeahxa67ygphrtxfwm644jei" -}}
{{- else -}}
{{- template "org-gitconfig" "p3dbnfqnt64sia2ua7m3rihdxq" -}}
{{- end -}}
{{- end -}}
