{{ if eq .chezmoi.os "darwin" }}
tap "tink-crypto/tink-tinkey", "https://github.com/tink-crypto/tink-tinkey"
brew "asdf"
brew "awscli"
brew "bash"
brew "chezmoi"
brew "coreutils"
brew "direnv"
brew "doggo"
brew "gh"
brew "git"
brew "jq"
brew "jwt-cli"
brew "k9s"
brew "nmap"
brew "openssh"
brew "rustup"
brew "starship"
brew "terminal-notifier"
brew "tink-crypto/tink-tinkey/tinkey"
brew "tig"
brew "vim"
cask "1password-cli"
{{ end -}}
