[user]
    name = Ross Williams
    email = gunzy83au@gmail.com
{{- if .local.git_signing_use_yubikey }}
    signingkey = ~/.ssh/git_sign_sk
{{- else }}
    signingkey = {{ onepasswordRead (print "op://Private/git-sign/public_key") "my.1password.com" }}
{{- end }}

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
{{- if not .local.git_signing_use_yubikey }}
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end }}

[commit]
    gpgsign = true

[core]
    editor = vim
    filemode = false

[color]
    ui = auto

[push]
    default = matching

[status]
    submoduleSummary = true

[diff]
    submodule = log

[init]
    defaultBranch = master

[alias]
    fix-head-origin = remote set-head origin --auto

[alias]
    main = !basename $(git symbolic-ref refs/remotes/origin/HEAD)

[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit

[alias]
    sync = "!f(){ git fetch ${1:-origin} && git rebase ${1:-origin}/$(git main); };f"

[alias]
    newbranch = "!f(){ if [ -z $@ ]; then echo 'Usage: git newbranch <branch_name>'; else git checkout $(git main) && git sync && git checkout -b $@; fi; };f"

[alias]
    uncommit = "reset HEAD~1"

[tig "color"]
    cursor = color15 color9 bold
    title-focus = color15 color9
    title-blur = color8 color12

{{ if .local.is_work -}}
{{ template "org-gitconfig-include-if" dict "op_entry" "jxyeahxa67ygphrtxfwm644jei" "included_file" "~/.gitconfigwork" }}
{{ template "org-gitconfig-include-if" dict "op_entry" "p3dbnfqnt64sia2ua7m3rihdxq" "included_file" "~/.gitconfigexternal" }}
{{ $githuborg := onepasswordRead (print "op://Private/jxyeahxa67ygphrtxfwm644jei/github-org") "my.1password.com" }}
[url "ssh://git@github.com/{{ $githuborg -}}/"]
    insteadOf = https://github.com/{{ $githuborg -}}/

{{ end -}}
