[user]
    name = Ross Williams
    email = gunzy83au@gmail.com
    signingkey = ~/.ssh/git_sign_sk

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers

[commit]
    gpgsign = true

[core]
    editor = vim
    filemode = false

[color]
    ui = auto

[push]
    default = matching

[status]
    submoduleSummary = true

[diff]
    submodule = log

[init]
    defaultBranch = master

[alias]
    fix-head-origin = remote set-head origin --auto

[alias]
    main = !basename $(git symbolic-ref refs/remotes/origin/HEAD)

[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit

[alias]
    sync = "!f(){ git fetch ${1:-origin} && git rebase ${1:-origin}/$(git main); };f"

[alias]
    newbranch = "!f(){ if [ -z $@ ]; then echo 'Usage: git newbranch <branch_name>'; else git checkout $(git main) && git sync && git checkout -b $@; fi; };f"

{{ if .local.is_work -}}
{{ if .local.is_primary -}}
{{ template "org-gitconfig-include-if" dict "op_entry" "jxyeahxa67ygphrtxfwm644jei" "included_file" "~/.gitconfigwork" }}
{{ template "org-gitconfig-include-if" dict "op_entry" "p3dbnfqnt64sia2ua7m3rihdxq" "included_file" "~/.gitconfigexternal" }}
{{ else -}}
{{ template "org-gitconfig-include-if" dict "op_entry" "p3dbnfqnt64sia2ua7m3rihdxq" "included_file" "~/.gitconfigwork" -}}
{{ end -}}
{{ end -}}
