{{- if eq .chezmoi.os "darwin" }}
{{- if .local.is_work }}
tap "lindell/multi-gitter"
{{- end }}
{{- if not .local.is_work }}
tap "siderolabs/tap"
{{- end }}
{{- if .local.is_work }}
tap "tink-crypto/tink-tinkey", "https://github.com/tink-crypto/tink-tinkey"
{{- end }}
brew "asdf"
brew "awscli"
brew "bash"
brew "chezmoi"
brew "colima"
brew "coreutils"
brew "direnv"
brew "docker"
brew "doggo"
brew "gh"
brew "git"
brew "gnupg"
{{- if not .local.is_work }}
brew "incus"
{{- end }}
brew "jq"
{{- if .local.is_work }}
brew "jwt-cli"
{{- end }}
brew "k3d"
brew "k9s"
brew "libpq"
brew "mise"
brew "nmap"
{{- if .local.is_work }}
brew "mysql@8.4"
{{- end }}
brew "nmap"
brew "openssh"
{{- if .local.is_work }}
brew "rustup"
{{- end }}
{{- if not .local.is_work }}
brew "siderolabs/tap/sidero-tools"
{{- end }}
brew "starship"
brew "terminal-notifier"
{{- if .local.is_work }}
brew "tink-crypto/tink-tinkey/tinkey"
{{- end }}
brew "tig"
brew "vim"
brew "zsh"
{{- if not .local.is_work }}
cask "1password"
{{- end }}
cask "1password-cli"
cask "caffeine"
cask "capacities"
cask "discord"
cask "font-fira-code-nerd-font"
cask "freelens"
cask "ghostty"
cask "karabiner-elements"
cask "lindell/multi-gitter/multi-gitter"
cask "maccy"
{{- if not .local.is_work }}
cask "plex"
{{- end }}
cask "scroll-reverser"
{{- if .local.is_work }}
cask "session-manager-plugin"
{{- end }}
{{- if not .local.is_work }}
cask "slack"
cask "spotify"
cask "tailscale-app"
cask "visual-studio-code"
cask "wavebox"
cask "wifiman"
{{- end }}
cask "wireshark-app"
cask "yubico-authenticator"
{{- end }}
