{{ if not .local.is_work }}
# Home Ops / Lab Machines
Host *.mgmt.gunzy.xyz *.home.gunzy.xyz
    User gunzy
    IdentitiesOnly yes
    IdentityFile ~/.ssh/gunzy.pub
{{- if (eq .chezmoi.os "darwin") }}
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else }}
    IdentityAgent ~/.1password/agent.sock
{{ end }}

Host *.mgmt.gunzy.xyz *.home.gunzy.xyz
    User ansible
    IdentitiesOnly yes
    IdentityFile ~/.ssh/ansible.pub
{{- if (eq .chezmoi.os "darwin") }}
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else }}
    IdentityAgent ~/.1password/agent.sock
{{ end }}
{{ end -}}
