{{ if .local.is_work -}}
[[ssh-keys]]
item = "github-{{ .local.machine_name -}}-work"
vault = "Private"

[[ssh-keys]]
item = "qi7kk4qeluc2t2aniucjovykrm"
vault = "Employee"

{{ end -}}
[[ssh-keys]]
item = "github-{{ .local.machine_name -}}"
vault = "Private"

{{ if not .local.is_work -}}
[[ssh-keys]]
item = "gunzy-{{ .local.machine_name -}}"
vault = "Private"

[[ssh-keys]]
item = "ansible"
vault = "Private"

{{ end -}}
{{ if not .local.git_signing_use_yubikey -}}
[[ssh-keys]]
item = "git-sign"
vault = "Private"
account = "my.1password.com"

{{ end -}}
