{{ if .local.is_work -}}
{{ $org2_key_name := onepasswordRead (print "op://Private/p3dbnfqnt64sia2ua7m3rihdxq/key-name") "my.1password.com" }}
[[ssh-keys]]
item = "github-{{ .local.machine_name -}}-{{ $org2_key_name }}"
vault = "Private"

[[ssh-keys]]
item = "github-{{ .local.machine_name -}}"
vault = "Private"

{{ else -}}
[[ssh-keys]]
item = "github-{{ .local.machine_name -}}"
vault = "Private"

[[ssh-keys]]
item = "gunzy-{{ .local.machine_name -}}"
vault = "Private"

[[ssh-keys]]
item = "ansible"
vault = "Private"

{{ end -}}
{{ if not .local.git_signing_use_yubikey -}}
[[ssh-keys]]
item = "git-sign"
vault = "Private"
account = "my.1password.com"

{{ end -}}
