ross.williams@pendula.com namespaces="git" {{ onepasswordRead (print "op://Private/git-sign-sk1/public_key_b64") "my.1password.com" | b64dec -}}
ross.williams@pendula.com namespaces="git" {{ onepasswordRead (print "op://Private/git-sign-sk2/public_key_b64") "my.1password.com" | b64dec -}}
gunzy83au@gmail.com namespaces="git" {{ onepasswordRead (print "op://Private/git-sign-sk1/public_key_b64") "my.1password.com" | b64dec -}}
gunzy83au@gmail.com namespaces="git" {{ onepasswordRead (print "op://Private/git-sign-sk2/public_key_b64") "my.1password.com" | b64dec -}}
