# Security related config, override on a per host basis to support legacy systems.
# source: https://infosec.mozilla.org/guidelines/openssh#modern
HashKnownHosts yes

HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-rsa-cert-v01@openssh.com,ssh-ed25519,ssh-rsa,ecdsa-sha2-nistp521-cert-v01@openssh.com,ecdsa-sha2-nistp384-cert-v01@openssh.com,ecdsa-sha2-nistp256-cert-v01@openssh.com,ecdsa-sha2-nistp521,ecdsa-sha2-nistp384,ecdsa-sha2-nistp256

KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256

MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
# End security related config

{{ if not .local.is_work }}
# Home Ops / Lab Machines
Host *.mgmt.gunzy.xyz *.home.gunzy.xyz
    User gunzy
    IdentitiesOnly yes
    IdentityFile ~/.ssh/gunzy.pub
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

Host *.mgmt.gunzy.xyz *.home.gunzy.xyz
    User ansible
    IdentitiesOnly yes
    IdentityFile ~/.ssh/ansible.pub
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ end -}}

# Github
Host github.com
    Hostname github.com
    IdentityFile ~/.ssh/github.pub
{{- if (eq .chezmoi.os "darwin") }}
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else }}
    IdentityAgent ~/.1password/agent.sock
{{ end }}
    IdentitiesOnly yes

{{ if .local.is_work -}}
{{ $githuborg := onepasswordRead (print "op://Private/p3dbnfqnt64sia2ua7m3rihdxq/github-org") "my.1password.com" -}}
Host {{ $githuborg }}
    Hostname github.com
    IdentityFile ~/.ssh/github-external.pub
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
    IdentitiesOnly yes

{{ end -}}
