{{ if not .local.is_work -}}
#!/bin/bash
tmpfile=$(mktemp)
trap "rm -f ${tmpfile}" EXIT
cat > "${tmpfile}"

if [ ! -z "$(command -v aws)" ] && [ ! -f "$HOME/.aws/config" ]; then
  # fresh machine, no aws cli and no config yet
  echo "[profile gunzy]" > "${tmpfile}"
  echo "credential_process = ${HOME}/.bin/aws_op_credential_process \"my.1password.com\" \"Private\" \"e57qnwqtliadnyiievhxsv4dv4\"" >> "${tmpfile}"
  echo "output = json" >> "${tmpfile}"
  echo "region = ap-southeast-2" >> "${tmpfile}"
  echo "cli_pager = " >> "${tmpfile}"
else
  # update existing config using the cli
  export AWS_CONFIG_FILE="${tmpfile}"
  aws configure set --profile gunzy "credential_process" "${HOME}/.bin/aws_op_credential_process \"my.1password.com\" \"Private\" \"e57qnwqtliadnyiievhxsv4dv4\""
  aws configure set --profile gunzy "output" "json"
  aws configure set --profile gunzy "region" "ap-southeast-2"
  aws configure set --profile gunzy "cli_pager" ""
fi

cat "${tmpfile}"

{{ end -}}
