{{ if (or (eq .chezmoi.osRelease.id "manjaro") (eq .chezmoi.osRelease.id "arch")) -}}
#!/bin/sh
mkdir ~/.tmp
cd ~/.tmp
git clone https://aur.archlinux.org/aura-bin.git
cd aura-bin
makepkg
sudo pacman -U --noconfirm aura-bin-*
cd ..
rm -rf aura-bin
{{ end -}}
