{{- if (eq .chezmoi.os "linux") -}}
{{- if (eq .chezmoi.osRelease.id "manjaro") -}}
#!/bin/sh
sudo mkdir -p /etc/1password
echo "wavebox" | sudo tee -a /etc/1password/custom_allowed_browsers > /dev/null
sudo chown root:root /etc/1password/custom_allowed_browsers
sudo chmod 755 /etc/1password/custom_allowed_browsers
if ! grep -Fxq "auth       include      system-auth" /etc/pam.d/polkit-1
then
    echo "Error! /etc/pam.d/polkit-1 does not contain expected content. Manual intervention required..."
    exit 1
fi
if grep -Fxq "auth    sufficient    pam_u2f.so cue origin=pam://hostname appid=pam://hostname" /etc/pam.d/polkit-1
then
    echo "U2F already configured in PAM, skipping..."
else
    sed '/^auth       include      system-auth/i auth    sufficient    pam_u2f.so cue origin=pam://hostname appid=pam://hostname' /etc/pam.d/polkit-1
fi
{{ end -}}
{{ end -}}
