{{- if (eq .chezmoi.os "linux") -}}
#!/bin/sh
mkdir -p ~/.config/Yubico
echo "Prepare to press button on Yubikey..."
pamu2fcfg -o pam://hostname -i pam://hostname > ~/.config/Yubico/u2f_keys
echo "U2F setup complete!\n"
{{ end -}}
