{{- if (eq .chezmoi.osRelease.id "manjaro") -}}
#!/bin/sh
sudo pacman -S --noconfirm base-devel curl git zsh vim yakuake konsole fontconfig barrier tig
{{ else if (eq .chezmoi.osRelease.id "solus") -}}
#!/bin/sh
sudo eopkg -y it -c system.devel
sudo eopkg -y it curl file git zsh vim yakuake konsole fontconfig barrier snapd tig
{{ else if (eq .chezmoi.osRelease.id "ubuntu") -}}
#!/bin/sh
sudo apt-get update
sudo apt-get install -y build-essential curl file git zsh vim yakuake konsole font-config barrier tig
{{ end -}}
